%h1= @movie.title

- [:rating, :released_at, :genre_name, :plot].each do |attr_name|
  - if movie.public_send(attr_name).present?
    %tr
    %td.attribute-name
    = human_attr(:movie, attr_name)
    %td
    = movie.public_send(attr_name)
    %br
%img.img-responsive{ src: movie.cover_url }
- if user_signed_in?
  %p= link_to 'Email me details about this movie', send_info_movie_path(@movie), class: 'btn btn-sm btn-default'
  =render partial: 'comments/comment', locals: { movie: @movie}
  =render partial: 'comments/new', locals: { movie: @movie}